.vscode/**
.vscode-test/**
src/**
out/**
out/test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
dist/**/*.map
node_modules/**
.git/**
.github/**
*.vsix
esbuild.js
eslint.config.mjs
.vscode-test.mjs
